/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

::-webkit-scrollbar {
    display: none;
}

#Shop #body {
    width: 100vw;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#Shop #containTitle {
    width: 1100px;
    height: 40px;
    padding: 10px;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;

}

#Shop #containTitle #title {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 10%;
}

#Shop #containTitle #spots {
    width: 10%;
    margin-right: 3px;
    color: #31B404;
    font-weight: 900;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#Shop #containTitle #spots p {
    font-size: 11px;
}

#Shop #containProduct {
    width: 1100px;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#Shop #containListProduct {
    width: 100%;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#Shop #containListProduct>div {
    width: 180px;
    height: 250px;
    margin: 10px;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#Shop #areaImg {
    width: 100%;
    height: 125px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#Shop #containListProduct #imgProduct {
    width: 120px;
    height: 120px;
}

#Shop #containListProduct #areaInfo {
    height: 30px;
    padding: 5px;
    border-top: 1px solid rgb(141, 131, 131);
}

#Shop #containListProduct #areaInfo h3 {
    font-size: 14px;
    font-weight: 400;
    text-align: start;
}

#Shop #containListProduct #areaPrice {
    height: 30px;
    padding: 5px 10px 5px 10px;
}

#Shop #containListProduct #areaPrice h3 {
    font-size: 18px;
    font-weight: 900;
    text-align: end;
}

#Shop #containListProduct #areaPrice p {
    font-size: 11px;
    color: #31B404;
    font-weight: 500;
    text-align: center;
    margin-top: 4px;
}

#Shop #containListProduct #areaButton {
    height: 30px;
    padding: 5px;
}

#Shop #containListProduct #areaButton button {
    width: 100%;
    height: 100%;
    font-size: 14px;
    background-color: #008648;
    color: #FFF;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

@media (min-width: 319.98px) and (max-width: 413.98px) {
    ::-webkit-scrollbar {
        display: none;
    }

    #Shop #body {
        width: 100vw;
        height: 90vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #Shop #containTitle {
        width: 90%;
        height: 40px;
        padding: 10px;
        background-color: #fff;
        -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        margin-top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;

    }

    #Shop #containTitle #title {
        width: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-left: 15%;
    }

    #Shop #containTitle #spots {
        width: 30%;
        margin-right: 3px;
        color: #31B404;
        font-weight: 900;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #Shop #containTitle #spots p {
        font-size: 11px;
    }

    #Shop #containProduct {
        width: 90%;
        margin-top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #Shop #containListProduct {
        width: 100%;
        border-radius: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #Shop #containListProduct>div {
        width: 138px;
        height: 240px;
        margin: 3px;
        background-color: #fff;
        -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    #Shop #areaImg {
        width: 100%;
        height: 120px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #Shop #containListProduct #imgProduct {
        width: 100px;
        height: 100px;
    }

    #Shop #containListProduct #areaInfo {
        height: 25px;
        padding: 5px;
        border-top: 1px solid rgb(141, 131, 131);
    }

    #Shop #containListProduct #areaInfo h3 {
        font-size: 13px;
        font-weight: 400;
        text-align: start;
    }

    #Shop #containListProduct #areaPrice {
        height: 30px;
        padding: 5px 10px 5px 5px;
    }

    #Shop #containListProduct #areaPrice h3 {
        font-size: 18px;
        font-weight: 900;
        text-align: end;
    }

    #Shop #containListProduct #areaPrice p {
        font-size: 9px;
        color: #31B404;
        font-weight: 500;
        text-align: center;
        margin-top: 4px;
    }

    #Shop #containListProduct #areaButton {
        height: 30px;
        padding: 5px;
    }

    #Shop #containListProduct #areaButton button {
        width: 100%;
        height: 100%;
        font-size: 14px;
        background-color: #008648;
        color: #FFF;
        font-weight: 600;
        border-radius: 5px;
        text-align: center;
        border: 0;
        cursor: pointer;
    }
}

@media (min-width: 413.98px) and (max-width: 480.98px) {

    #Shop #body {
        width: 100vw;
        height: 90vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #Shop #containTitle {
        width: 90%;
        height: 40px;
        padding: 10px;
        background-color: #fff;
        -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        margin-top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;

    }

    #Shop #containTitle #title {
        width: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-left: 15%;
    }

    #Shop #containTitle #spots {
        width: 30%;
        margin-right: 3px;
        color: #31B404;
        font-weight: 900;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #Shop #containTitle #spots p {
        font-size: 11px;
    }

    #Shop #containProduct {
        width: 90%;
        margin-top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #Shop #containListProduct {
        width: 100%;
        border-radius: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #Shop #containListProduct>div {
        width: 170px;
        height: 240px;
        margin: 3px;
        background-color: #fff;
        -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    #Shop #areaImg {
        width: 100%;
        height: 120px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #Shop #containListProduct #imgProduct {
        width: 120px;
        height: 120px;
    }

    #Shop #containListProduct #areaInfo {
        height: 25px;
        padding: 5px;
        border-top: 1px solid rgb(141, 131, 131);
    }

    #Shop #containListProduct #areaInfo h3 {
        font-size: 13px;
        font-weight: 400;
        text-align: start;
    }

    #Shop #containListProduct #areaPrice {
        height: 30px;
        padding: 5px 10px 5px 5px;
    }

    #Shop #containListProduct #areaPrice h3 {
        font-size: 18px;
        font-weight: 900;
        text-align: end;
    }

    #Shop #containListProduct #areaPrice p {
        font-size: 9px;
        color: #31B404;
        font-weight: 500;
        text-align: center;
        margin-top: 4px;
    }

    #Shop #containListProduct #areaButton {
        height: 30px;
        padding: 5px;
    }

    #Shop #containListProduct #areaButton button {
        width: 100%;
        height: 100%;
        font-size: 14px;
        background-color: #008648;
        color: #FFF;
        font-weight: 600;
        border-radius: 5px;
        text-align: center;
        border: 0;
        cursor: pointer;
    }
}

@media (min-width: 480.98px) and (max-width:991.98px) {

    #Shop #body {
        width: 100vw;
        height: 90vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #Shop #containTitle {
        width: 90%;
        height: 40px;
        padding: 10px;
        background-color: #fff;
        -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        margin-top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;

    }

    #Shop #containTitle #title {
        width: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-left: 15%;
    }

    #Shop #containTitle #spots {
        width: 30%;
        margin-right: 3px;
        color: #31B404;
        font-weight: 900;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #Shop #containTitle #spots p {
        font-size: 11px;
    }

    #Shop #containProduct {
        width: 90%;
        margin-top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #Shop #containListProduct {
        width: 100%;
        border-radius: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #Shop #containListProduct>div {
        width: 170px;
        height: 240px;
        margin: 3px;
        background-color: #fff;
        -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    #Shop #areaImg {
        width: 100%;
        height: 120px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #Shop #containListProduct #imgProduct {
        width: 120px;
        height: 120px;
    }

    #Shop #containListProduct #areaInfo {
        height: 25px;
        padding: 5px;
        border-top: 1px solid rgb(141, 131, 131);
    }

    #Shop #containListProduct #areaInfo h3 {
        font-size: 13px;
        font-weight: 400;
        text-align: start;
    }

    #Shop #containListProduct #areaPrice {
        height: 30px;
        padding: 5px 10px 5px 5px;
    }

    #Shop #containListProduct #areaPrice h3 {
        font-size: 18px;
        font-weight: 900;
        text-align: end;
    }

    #Shop #containListProduct #areaPrice p {
        font-size: 9px;
        color: #31B404;
        font-weight: 500;
        text-align: center;
        margin-top: 4px;
    }

    #Shop #containListProduct #areaButton {
        height: 30px;
        padding: 5px;
    }

    #Shop #containListProduct #areaButton button {
        width: 100%;
        height: 100%;
        font-size: 14px;
        background-color: #008648;
        color: #FFF;
        font-weight: 600;
        border-radius: 5px;
        text-align: center;
        border: 0;
        cursor: pointer;
    }
}

@media (min-width: 991.98px) and (max-width: 1024.98px) {}